html {
    height: 100%;
    font-size: 14px;
    font-family: Inter, sans-serif;
    font-feature-settings: 'cv02' 1, 'cv03' 1, 'cv04' 1, 'cv11' 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @supports (font-variation-settings: normal) {
        font-family: InterVariable, sans-serif;
    }
}

body {
    font-family: inherit;
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

.layout-wrapper {
    min-height: 100vh;
}
