<div class="grid">
    <div class="col-12 md:col-6">
        <div class="card p-fluid">
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                <h5>Vertical</h5>
                <div class="field">
                    <label htmlFor="name1" class="form-group-custom">Name</label>
                    <input pInputText id="name1" type="text" formControlName="name"/>
                </div>
                <div class="field">
                    <label htmlFor="email1" class="form-group-custom">Email</label>
                    <input pInputText id="email1" type="text" formControlName="email" />
                </div>
                <div class="field">
                    <label htmlFor="age1" class="form-group-custom">Age</label>
                    <input pInputText id="age1" type="text" formControlName="age" />
                </div>

                <button pButton type="submit" label="Enviar"></button>
            </form>
        </div>
    </div>
</div>
